body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.what-is-name {
  text-align: center;
  margin-bottom: -1rem;
  margin-top: 1rem;
  font-size: 2rem;
  color: palegreen;
}

.input-style {
  height: 42px;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  font-size: 1.5rem;
  border: 3px solid greenyellow;
  outline: none;
  width: 180px;
  background-color: black;
  color: greenyellow;
  padding-left: 15px;
}

#start {
  width: 150px;
  height: 50px;
  margin-top: 2rem;
  font-size: 1.5rem;
  background-color: royalblue;
  color: aquamarine;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: 3px solid greenyellow;
  cursor: pointer;
}

#restart {
  width: 200px;
  height: 40px;
  margin-top: 2rem;
  font-size: 1.5rem;
  background-color: royalblue;
  color: aquamarine;
  border-radius: 1rem;
  border: 3px solid greenyellow;
  cursor: pointer;
}

#restart:hover {
  background-color: greenyellow;
  color: royalblue;
  border: 3px solid royalblue;
}

#start:hover {
  background-color: greenyellow;
  color: royalblue;
}

.player-choice {
  font-size: 2rem;
}

#x {
  background-color: darkred;
  font-size: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  width: 40px;
}

#o {
  background-color: darkblue;
  font-size: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  width: 40px;
}

#x:hover {
  background-color: red;
}

#o:hover {
  background-color: rgb(47, 154, 255);
}

.gameboard {
  width: 225px;
  display: flex;
  flex-wrap: wrap;
}

.gameboard-square {
  box-sizing: border-box;
  width: 75px;
  height: 75px;
  background-color: lightblue;
  border: 2px solid blue;
  text-align: center;
  font-size: 3rem;
  color: black;
}

.win {
  background-color: whitesmoke;
  color: black;
  width: 180px;
  height: 180px;
  display: none;
  justify-content: center;
  align-items: center;
}

.win h1 {
  text-align: center;
  margin-bottom: 3rem;
}

.note-div {
  width: 500px;
}

.note-text {
  text-align: center;
  color: palevioletred;
}
